*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #fff;
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

    --second-family: "Raleway", sans-serif;
}

/** basic settings **/

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);

    overflow: hidden;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.groups-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.groups-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

input,
textarea {
    outline: transparent;
    background-color: transparent;
}

/** HEADER **/

.page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.container.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav,
.address-list {
    display: none;
}

/** logo **/

.logo {
    display: flex;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);

    padding: 16px 0;
    align-items: center;
}

.logo .logo-studio {
    color: var(--navy-blue);
}


.button.mobile-menu {
    width: 24px;
    height: 24px;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    background-color: transparent;

    fill: #2f2f37;
}

@media (min-width : 768px) {
    .nav-header {
        display: flex;
        gap: 120px;
        align-items: center
    }
    
    .logo {
        padding: 24px 0;
    }

    .menu-nav {
        display: flex;
        gap: 40px;
    }

    .menu-nav .link {
        display: block;
        padding: 24px 0;

        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link.current {
        position: relative;
    }
    
    .link.current::after {
        content: "";
    
        position: absolute;
        left: 0;
        bottom: -1px;
    
        border-radius: 2px;
        width: 100%;
        height: 4px;
    
        background-color: var(--ocean);
    }
   
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list .link {
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: var(--slate);
        font-style: normal;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button.mobile-menu {
        display: none;
    }

    .menu-nav .link:hover,
    .menu-nav .link:focus,
    .link.current,
    .address-list .link:hover,
    .address-list .link:focus {
       color: var(--ocean);
   }
}

@media (min-width : 1158px) {
    .nav-header {
        gap: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-list .link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
}

/** MAIN **/

/**SECTION-1 **/

.page-title {
    padding: 72px 0;
    margin: 0 auto;
    
    color: #fff;
    background-color: var(--navy-blue);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-officePage-Title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.header-page-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white);

    max-width: 215px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.page-title .button {
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;

    min-width: 169px;
    height: 56px;

    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.page-title .button:hover,
.page-title .button:focus {
    background-color: var(--ocean);
}

@media (min-resolution: 192dpi) {
    .page-title {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-officePage-Title@2x.jpg);
    }
}

@media (min-width : 768px) {
    .page-title {
        padding: 122px 0;
    }

    .header-page-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width : 1158px) {
    .page-title {
        padding: 188px 0;
    }
    
    .header-page-title {
        margin-bottom: 48px;
    }
}

/** SECTION-2 "features" **/

.features {
    padding: 96px 0;
}

.features-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.features-groups-li {
    display: flex;
    flex-direction: column;
}

.features-groups-icons {
    display: none;
}

.features .groups-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
}

.features .groups-text {
    font-weight: 500;
}

@media (min-width : 768px) {
    .features-groups {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-groups-li {
        align-items: flex-start;
        flex-basis: calc((100% - 24px)/2);
    }
}

@media (min-width : 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-groups {
        gap: 24px;
    }

    .features-groups-li {
        flex-basis: calc((100% - 72px)/4);
    }

    .features .groups-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features .groups-text {
        font-weight: 400;
    }

    .features-groups-icons {
        display: flex;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;

        border: 1px solid var(--light-slate);
        border-radius: 4px;
        background-color: var(--cloud);

        width: 264px;
        height: 112px;
    }
}

/** SECTION-3 "our-team" **/

.our-team {
    background-color: var(--cloud);
    padding: 96px 0;
}

@media (max-width : 767px) {
    .our-team .container {
        width: 296px;
    }
}

.our-team .section-title {
    margin-bottom: 72px;
    text-transform: capitalize
}

.our-team-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.our-team-groups .card-team {
    text-align: center;

    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    background-color: var(--white);
}

.our-team .card-team-text {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-team-text .social-links {
    display: flex;
    gap: 24px;

    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.social-links .social-links-list {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-links-list .link {
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--cloud);
    background-color: var(--iris);

    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list .link:hover,
.social-links-list .link:focus {
    background-color: var(--ocean);
}

@media (min-width : 768px) and (max-width : 1157px) {
    .our-team .container {
        width: 584px;
    }
}

@media (min-width : 768px) {
    .our-team-groups {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px; 
    }

    .our-team-groups .card-team {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media (min-width : 1158px) {
    .our-team {
        padding: 120px 0;
    }

    .our-team-groups {
        gap: 24px;

        padding: 0;
    }

    .our-team-groups .card-team {
        flex-basis: calc((100% - 72px)/4);
    }
    
}

/**SECTION-4 **/

/** FOOTER **/

.page-footer {
    padding: 96px 0;
    background-color: var(--navy-blue);
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

/** first container **/

.page-footer .logo-studio {
    color: var(--cloud);
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 19px;
    padding: 0;
}

.footer-text {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

/** second container **/

.social-media-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);

    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;

    flex-shrink: 0;
    justify-content: center;
}

.social-media-item {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-media-item .link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--iris);
    fill: var(--cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item .link:hover,
.social-media-item .link:focus {
    background-color: var(--green);
}

/** third container **/

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);

    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form-input {
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 288px;
    height: 40px;

    opacity: 0.3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: var(--white);
    
    padding: 8px 0;
    padding-left: 16px;
}

.footer-form-input::placeholder {
    color: var(--white);
    opacity: 0.6;
}

.footer-form .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);

    background-color: var(--iris);
    fill: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form .button:hover,
.footer-form .button:focus {
    background-color: var(--ocean);
}

@media (max-width : 767px) {
    .page-footer .logo,
    .social-media-text,
    .subscribe-text {
        width: 100%;
        text-align: center;
    }

    .footer-form .button {
        margin: 0 auto;
    }
}

@media (min-width : 768px) and (max-width : 1157px) {
    .page-footer .container {
        margin-left: 92px ;
    }
}

@media (min-width : 768px) {
    .page-footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0;
    }

    .page-footer .container-text {
        margin-right: 24px;
    }

    .page-footer .logo {
        margin-bottom: 16px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
    }
}

@media (min-width : 1158px) {
    .page-footer {
        padding: 100px 0;
    }
    
    .page-footer .container {
        align-items: baseline;
    }

    .page-footer .container-text {
        margin-right: 120px;
    }

    .container-subscribe {
        margin-left: 80px;
    }

    .footer-form-input {
        opacity: 1;
    }
}

/** SECTION-4 "our-portfolio"**/

.our-portfolio {
    padding: 96px 0;
}

.our-portfolio .section-title {
    text-transform: capitalize;

    margin-bottom: 72px;
}

.our-portfolio-groups {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.our-portfolio-groups .card-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-portfolio .overlay-card {
    position: relative;
    overflow: hidden;
}

.our-portfolio-groups .overlay-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);

    padding: 40px 32px;
    background-color: var(--iris);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover .overlay-text {
    transform: translateY(0%);
}

.our-portfolio-groups .card-portfolio-text {
    padding: 32px 16px;

    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
}

.our-portfolio-groups .groups-title {
    margin-bottom: 8px;
}

@media (min-width : 768px) {
    .our-portfolio-groups {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .our-portfolio-groups .card-portfolio {
        width: calc((100% - 24px)/2);
    }
}

@media (min-width : 1158px) {
    .our-portfolio {
        padding: 120px 0;
    }

    .our-portfolio-groups {
        gap: 48px 24px;
    }

    .our-portfolio-groups .card-portfolio {
        width: calc((100% - 48px)/3);
    }

}

/** MODAL OVERLAY **/

.modal-overlay {
    background-color: var(--navy-blue-modal);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    overflow-y: auto;

    border-radius: 4px;
    width: 288px;
    min-height: 623px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--dairy);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button close + modal header*/

.button.close {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    padding: 0;

    background-color: var(--cornflower);

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.close:hover,
.button.close:focus {
    background-color: var(--ocean);
    border: none;
}

.button-close-icon {
    fill: var(--navy-blue);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.close:hover .button-close-icon,
.button.close:focus .button-close-icon {
    fill: var(--white);
}

.modal-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 16px;
}

/* -- modal form -- */

.modal-form {
    display: flex;
    flex-direction: column;
}

/* modal failed */

.modal-failed {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    flex-direction: column;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.modal-container {
    display: flex;
    position: relative;
}

.modal-input {
    display: block;
    padding-left: 34px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
    border-color: var(--iris);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-icon {
    fill: var(--iris);
}

/* textarea*/

.modal-textarea-container {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);

    padding: 8px 16px;
    

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: var(--navy-blue-modal);
}

.modal-textarea:focus-within {
    border-color: var(--iris);
}

/* checkbox */

.user-privacy-container {
    margin-bottom: 24px;
}

.user-privacy-label {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.user-privacy-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);

    fill: transparent;
    background-color: transparent;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-input:checked+.user-privacy-label>.user-privacy-span {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

@media (max-width : 767px) {
    .user-privacy-text {
        max-width: 231px;
    }
}

.privacy-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

/* button send form */

.button.send {
    padding: 16px 32px;
    margin: 0 auto;

    min-width: 169px;
    height: 56px;

    border-radius: 4px;
    border: none;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.send:hover,
.button.send:focus {
    background-color: var(--ocean);
}

@media (min-width : 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
        min-height: 584px;
    }
}

@media (min-width : 1158px) {
    .modal-input {
        padding-left: 38px;
    }
}


/** MODAL MOBILE MENU **/

.modal-mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 72px 24px 40px 16px;

    background-color: var(--dairy);
    
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mob-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}
 
.button.mob-menu-close {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    
    border: 1px solid var(--cornflower);
    border-radius: 50%;
    
    width: 24px;
    height: 24px;
    padding: 0;
    
    background-color: transparent;
    
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.mob-menu-close:hover,
.button.mob-menu-close:focus {
    background-color: var(--ocean);
    border: none;
}

.close-icon {
    fill: var(--navy-blue);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.mob-menu-close:hover .close-icon,
.button.mob-menu-close:focus .close-icon {
    fill: var(--white);
}

.mob-menu-nav {
    margin-bottom: 168px;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-list .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list .link.current {
    color: var(--ocean);
}

.mob-menu-list .link:hover,
.mob-menu-list .link:focus {
    color: var(--ocean);
}

.mob-menu-social {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mob-menu-address {
    display: block;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-list .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);

    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-list .link:hover,
.mob-address-list .link:focus {
    color: var(--iris);;
}

.social-menu-list {
    display: flex;
    gap: 40px;

    flex-shrink: 0;
    align-items: center;
}

.social-menu-item {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-menu-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    fill: var(--cloud);
    background-color: var(--iris);
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu-item .link:hover,
.social-menu-item .link:focus {
    background-color: var(--ocean);
}

@media (min-width : 768px) {
    .modal-mob-menu {
        display: none;
    }
}